@{
    ViewData["Title"] = "Nueva Venta";
}

<div class="row">

    <div class="col-md-3">

        <div class="card shadow-sm">
            <div class="card-header">
                Cliente
            </div>

            <div class="card-body">

                <input class="form-control mb-2"
                       placeholder="Buscar cliente">

                <button class="btn btn-primary w-100">
                    Buscar
                </button>

            </div>
        </div>

    </div>

    <div class="col-md-5">

        <div class="card shadow-sm">
            <div class="card-header">
                Productos
            </div>

            <div class="card-body">

                <input class="form-control mb-3"
                       placeholder="Buscar producto">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>PlayStation 5</td>
                            <td>₡350,000</td>
                        </tr>

                        <tr>
                            <td>EA Sports FC 26</td>
                            <td>₡45,000</td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow-sm">

            <div class="card-header">
                Carrito
            </div>

            <div class="card-body">

                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        PlayStation 5
                    </li>

                    <li class="list-group-item">
                        EA Sports FC 26
                    </li>
                </ul>

                <h4>Total: ₡395,000</h4>

                <button class="btn btn-success w-100">
                    Facturar
                </button>

            </div>

        </div>

    </div>

</div>